flask
flask-sslify
langchain
openai
tiktoken
requests
chromadb
duckduckgo-search
beautifulsoup4
chardet
google-cloud-vision
google-cloud-language
PyKakao
pysqlite3-binary
pydub
SpeechRecognition
PyAudio
flask_socketio